@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Work+Sans:400,600');
@import 'variables';
@import 'basic';
@import 'header';
@import 'propaganda';

.site-footer {
  margin: 3rem 0 .5rem 0;
  font-size: .8125rem;
}

.home {
  .categories {
    margin-bottom: 0.5rem;

    li {
      display: inline-block;
      margin-bottom: 0.5rem;
      padding: .1rem .6rem;
    }
  }
}

.posts {

  ol {
    margin-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: .5rem;

    display: flex;
    flex-direction: row;
  }

  time {
    display: block;
    margin-right: 1rem;
    color: $gray2;

    @media screen and (min-width: $break-small) {
      flex: 0 0 3rem;
      margin-right: 2rem;
    }

    + a {
      margin-left: 0.3rem;
    }
  }
}

.post {

  .post-header {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .post-date {
    display: block;
    margin: 1rem auto;
    font-size: $fs-small;
    color: $gray;
  }

  .post-line {
    border-top: 0.1rem solid $gray2;
    display: block;
    margin: 0 auto;
    width: 8rem;
  }

  .categories {
    margin-top: 0.5rem;
  }

  .post-content p,
  .post-content ul, 
  .post-content ol {
    text-align: justify;
  }

  #TableOfContents {
    display: inline-block;
    background-color: $gray4;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;

    ul {
      list-style: none;
    }

    > ul {
      margin: 0;

      > li > ul {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
      }
    }
  }

  .hanchor {
    font-size: 50%;
    padding-left: 0.3rem;
    border: none;
    visibility: hidden;
    position: relative;
    bottom: 0.2rem;
  }

  h2:hover a,
  h3:hover a,
  h4:hover a {
    visibility: visible;
  }

  %box {
    border-radius: 0 8px 8px 0;
    padding: 1rem;
    margin: 1.5rem 0;

    p {
      margin-bottom: 0.5rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .post-box-info {
    @extend %box;
    background-color: $light-azure;
    border-left: 5px solid $azure;
  }

  .post-box-warn {
    @extend %box;
    background-color: $light-yellow;
    border-left: 5px solid $yellow;
  }

  .post-box-green {
    @extend %box;
    background-color: $light-fc;
    border-left: 5px solid $fc;
  }

  .post-footer {
    @extend .post-box-warn;

    margin: 2rem 0;

    h6 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1.5rem;
      text-align: left;
    }
  }

  .footnotes li {
    text-align: left;
  }
}

.categories {
  margin-left: 0;

  li {
    display: inline;
    border-radius: .25rem;
    background-color: $gray4;
    padding: .2rem 0.4rem;
    margin-right: 0.4rem;

    a {
      color: $gray;
      border: none;
    }
  }
}
