 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Work+Sans:400,600');

$black: #303030;
$gray: #686868;
$light-gray: #e5e5e5;
$very-light-gray: #eeeeee;
$white: #fbfbfb;
$fc: #43c160;
$azure: #209cee;
$light-azure: #def0fd;
$yellow: #edc43c;
$light-yellow: #f5ecce;

$title: 'Montserrat';
$body: 'Work Sans';
$fs-small: 0.875rem;
$fs: 1rem;
$fs-large: 1.125rem;
$std-margin: 0 0 1rem;
$break-small: 700px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $white;

  color: $black;

  font-family: $body, sans-serif;
  font-size: $fs;

  @media screen and (min-width: $break-small) {
    font-size: $fs-large;
  }
}

body {
  line-height: 1.6;
}

html,
body {
  margin: 0;
}

h1,
p,
figure,
pre,
blockquote {
  margin: $std-margin;
}

hr {
  display: block;
  width: 100%;
  height: 0;
  margin: 2rem 0;

  border: 0;
  border-top: 1px solid $gray;
}

figure {
  .representation {
    display: block;
    margin: 0 0 .5rem;
  }
}

figcaption {
  padding: 0 .5rem .5rem;
  font-size: .8125rem;
  text-align: left;
  color: $gray;
}

img {
  max-width: 100%;
}

blockquote {
  padding: 1rem;
  border-left: 5px solid $light-gray;
  color: $gray;
  font-style: italic;

  p {
    margin: 0;
  }

  cite {
    display: block;
    margin: 1rem 0 0;
    font-size: .875rem;
    text-align: right;
  }
}

a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: currentColor;
    color: $gray;
  }
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;

  ol,
  ul {
    margin-bottom: 0;
  }
}

li {
  margin: 0;

  &:not(last-of-type) {
    margin-bottom: .4rem;
  }
}

abbr {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  cursor: help;
}

kbd,
code,
pre {
  font-family: monospace;
}

pre {
  max-width: 100%;
}

kbd,
code {
  margin: 0;
  padding: .125rem .25rem 0;
  background-color: $light-gray;
}

article,
section {
  display: block;
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title;
  font-weight: 700;
  line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
}

h1, h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: 1rem;

  @media screen and (min-width: $break-small) {
    padding: 1rem 0;
  }
}

.site-header,
.site-nav {
  margin-bottom: 1rem;
  border-top: 4px solid $fc;
  border-bottom: 1px solid #e4f6e9;
  line-height: 0;

  a {
    border: none;
  }

  img {
    width: 260px;
  }

  .container {
    padding: 0.5rem 1rem;
  }
}

.site-footer {
  margin: 3rem 0 .5rem 0;
  font-size: .8125rem;
}

.posts {

  ol {
    margin-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: .5rem;

    @media screen and (min-width: $break-small) {
      display: flex;
      flex-direction: row;
    }
  }

  time {
    display: block;
    margin-right: 1rem;

    @media screen and (min-width: $break-small) {
      flex: 0 0 5rem;
      margin-right: 2rem;
    }

    + a {
      margin-left: 0.3rem;
    }
  }
}

.post {

  .post-header {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .post-date {
    display: block;
    margin: 1rem auto;
    font-size: $fs-small;
    color: $gray;
  }

  .post-line {
    border-top: 0.4rem solid $black;
    display: block;
    margin: 0 auto;
    width: 4rem;
  }

  .categories {
    margin-top: 0.5rem;
  }

  .post-content {
    font-size: $fs-large;
    text-align: justify;
  }

  %box {
    border-radius: 0 8px 8px 0;
    padding: 1rem;
    margin: 1.5rem 0;

    p {
      margin-bottom: 0.5rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .post-box-info {
    @extend %box;
    background-color: $light-azure;
    border-left: 5px solid $azure;
  }

  .post-box-warn {
    @extend %box;
    background-color: $light-yellow;
    border-left: 5px solid $yellow;
  }

  .post-box-green {
    @extend %box;
    background-color: #daf3df;
    border-left: 5px solid $fc;
  }

  .post-footer {
    @extend .post-box-warn;

    margin: 2rem 0;

    h6 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}

.categories {
  margin-left: 0;

  li {
    display: inline;
    border-radius: .25rem;
    background-color: $very-light-gray;
    padding: .25rem;
    margin-left: 0.4rem;

    &:first-of-type {
      margin-left: 0;
    }

    a {
      color: $gray;
      border: none;
    }
  }
}
