.propaganda {
    border-top: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    padding-bottom: 1rem;
    margin: 3rem -6rem;
}

.propaganda-title {
    margin: 0;
    padding: 0.25rem 0 1rem 0;
    font-size: 0.75rem;
    color: #aaa;
    text-transform: uppercase;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

    span {
        display: inline-block;
    }
}

.propaganda-text {
    padding: 2rem;
    border-radius: 10px;
    background-color: $light-fc;
    color: #0f7526;
}

@media screen and (max-width: $break-propaganda) {
    .propaganda {
        margin-left: 0;
        margin-right: 0;
    }
}
