{{ partial "top.html" . }}

  <article class="post" itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
      <h1 class="post-title" itemprop="name">{{ .Title }}</h1>
      <span class="post-line"></span>
      <span class="post-date">
        Aggiornato il
        <time datetime="{{ .Lastmod.Format "2006-01-02 15:04:05 MST" }}" itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
          {{ .Lastmod.Format "02/01/2006" }}
        </time>
        {{ if .Params.authors -}}
        - di
        {{ $authorLen := len .Params.authors -}}
        <span itemprop="author">
          {{- range $k, $v := .Params.authors -}}
          {{- $v -}}
          {{- if lt $k (sub $authorLen 1) -}}, {{ end -}}
          {{- end -}}
        </span>
        {{ end }}

        {{ range .Params.categories -}}
        <a href="/{{ . | urlize }}">
          {{- . | upper -}}
        </a>
        {{ end }}
      </span>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ .Content }}
    </div>

    <footer class="post-footer">
      <h6>❓ Hai qualche dubbio?</h6>
      <p>
        Vieni a trovarci sul <a href="https://forum.fibra.click" target="_blank">forum di FibraClick</a>!
        Apri una discussione e ti aiuteremo :)
      </p>

      <h6>👀 Hai trovato un errore o vuoi migliorare questa pagina?</h6>
      <p><a href="https://github.com/botfactoryit/fibraclick-wiki" target="_blank">Contribuisci</a>, oppure scrivici a <a href="mailto:info@fibra.click?subject=Wiki: {{ .Title }}">info@fibra.click</a>.</p>
    </footer>

  </article>

{{ partial "bottom.html" . }}
