      <footer class="site-footer">
        👀 <a href="/">FibraClick Wiki</a> è un progetto <a href="https://botfactory.it" target="_blank">BotFactory</a>
        <br>
        👉 Conosci già il <a href="https://forum.fibra.click" target="_blank">forum di FibraClick</a>, vero?
        <br>
        🚩 I contenuti di questa pagina sono pubblicati con licenza <a href="https://creativecommons.org/licenses/by/4.0/deed.it" target="_blank">CC BY 4.0</a>
        <br>
        🔒 <a href="https://fibra.click/policy.html" target="_blank">Privacy</a>
      </footer>
    </div>
  </body>
</html>
