{{ partial "top.html" . }}

  <article class="posts">

    <section>
      <h1>Categorie</h1>

      <ul class="categories">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories -}}
        <li><a href="/{{ $name | urlize  }}">{{ $name }}</a></li>
        {{- end }}
      </ul>
    </section>

    <section>
      <h1>Ultimi aggiornamenti</h1>
      <ol>
        {{ range .Pages.ByLastmod.Reverse -}}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "02/01"}}</time>
          📄 <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end }}
      </ol>
    </section>

  </article>

{{ partial "bottom.html" . }}
