{{ partial "top.html" . }}

  <article class="home">

    <section>
      <h1>{{ .Title }}</h1>

      {{ .Content }}
    </section>

    <section>
      <h1>Categorie</h1>

      <ul class="categories">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories -}}
        <li><a href="/c/{{ $name | urlize  }}">{{ $name }}</a></li>
        {{- end }}
      </ul>
    </section>

    <section class="posts">
      <h1>Ultimi aggiornamenti</h1>
      <ol>
        {{ range (where .Pages "Type" "posts").ByLastmod.Reverse -}}
        <li>
          <time datetime="{{ .Lastmod.Format "2006-01-02 15:04:05 MST" }}">{{ .Lastmod.Format "02/01"}}</time>
          📄 <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end }}
      </ol>
    </section>

  </article>

{{ partial "bottom.html" . }}
